@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;600;700;800;900&display=swap');

:root{
    --default-color: #40196d;
    --default-black: #35363a;
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
}
*{
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box; 
    text-decoration: none;   
    padding: 0; margin: 0;
    border: none; outline: none; 
}
html{
    font-size: 45%;
}
header{
    top: 0;left: 0;right: 0;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 3rem 5%;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    background: #fff;
}
header .navbar{
    display: flex;
}
header .navbar .menu{
    font-size: 1.9rem;
    font-weight: 600;
    margin-right: 7rem;
    color: #56278b;
    
}
header .navbar, ul{
    list-style: none;
}

header .navbar li{
    display: inline-block;
    padding: .5rem 0;
}
header .navbar li:hover  ul{
    visibility: visible;
}
header .navbar li ul{
    position: absolute;
    width: 25rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
    visibility: hidden;
    padding: 2rem 3rem;
    border: 1px solid #eee;
    border-radius: .5rem;
}
header .navbar li ul li{
    padding: 1.2rem 0;
    display: block;
}
header .navbar li ul li span{
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background: #dfe3ff;
    border-radius: 50%;
    color:#522486;
    margin-right: 2rem;
}
header .navbar li ul > li a{
    font-size: 1.7rem;
    color: #000;
}
header .navbar .menu span{
    margin-left: .5rem;
}
header .signIn a{
    font-size: 2rem;
    font-weight: bold;
    padding: 1.9rem 4.8rem;
}
header .signIn a:nth-child(2){
    background: var(--default-color);
    color: #fff;
    border-radius: 1rem;
}
header .bars{
    position: absolute;
    font-size: 2.7rem;  
    color: var(--default-black); 
    right: 3rem;
    top: 2.5rem;
    display: none;
    cursor: pointer;
    color: var(--default-color);
}
header .mobile-section .mobile.active{
    left: 0;
}
header .mobile-section{
    display: none;
}
header .mobile-section .mobile{
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100vh;
    left: -100%; top: 8rem;
    padding: 0 3rem;
    padding-top: 3rem ;
    transition: all .1s ease-in-out;
}
header .mobile-section .mobile .signin{
    background: var(--default-color);
    color: #fff;
    padding: 1.5rem 5rem;
    border-radius: 1.5rem;
    font-size: 1.9rem;
    font-weight: 500;
}
header .mobile-section .mobile .wrapper{
    display: flex;
    margin-top: 5rem;
    gap: 5rem;
}
header .mobile-section .mobile .wrapper p{
    font-size: 2rem;
    color: var(--default-color);
    font-weight:500;
}
header .mobile-section .mobile .wrapper p:nth-of-type(1) {
    color: var(--default-color);
}
header .mobile-section .mobile .wrapper .box a{
    width: 20rem;
    display: block;
    font-size: 1.7rem;
    padding: 1.5rem 0;
    color: var(--default-black);
}
header .mobile-section .mobile .wrapper .box a span{
    font-size: 1.3rem;
    width: 4rem; height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: var(--default-color);
    background: #dfe3ff;
    border-radius: 50%;
    margin-right: 1rem;
}


.bd-container{
    margin-top: 22rem ;
    padding: 0rem 14%;
}
.all-container{
    margin-top: 15rem ;
    padding: 0rem 14%;
}
.bd-grid{
    display: grid;
    gap: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem,1fr));
    align-items: center;
}
.home__container .home__data h2{
    font-size: 7rem;
    font-weight: 900;
    color: var(--default-color);
}
.home__container .home__data p{
    font-size: 2.5rem;
    margin-top: 2rem;
    font-weight: 600;
    line-height: 4rem;
    color: var(--default-black);
}
.home__container .img{
    width: 100%;
}
.home__container .home__data .store{
    margin-top: 3.5rem;
    display: none;
}
.home__container .home__data .store img{
    margin-right: 2rem;
}
.home__container .home__data .license{
    margin-top: 2.5rem;
    display: flex; 
    margin-right: 2rem;   
}
.home__container .home__data a{
    font-size: 2rem;
    font-weight: bold;
    padding: 1.9rem 4.8rem;
    background: var(--default-color);
    color: #fff;
    border-radius: 1rem;
    display: inline-block;
    margin-top: 4rem;
}


.service-wrapper{
    padding: 0 14%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 12rem;
}
.service-wrapper .box{
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 4rem 4rem;
    border-radius: 1rem;
    font-size: 2.1rem;
}
.service-wrapper .box span{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    background: #e0e2f1;
    border-radius: 50%;
    color:#522486;
    font-size: 2rem;
}
.service-wrapper .box p{    
    color: var(--default-color);
    font-weight: 800;
    margin-top: 2rem;
}

.account__container .account__data h2{
    font-size: 5rem;
    font-weight: 900;
    color: var(--default-color);
}
.account__container .account__data p{
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
    line-height: 4rem;
    color: var(--default-black);
}
.account__container img{
    width: 100%;
}
.account__container .account__data .store{
    margin-top: 3.5rem;
    display: none;
}
.account__container .account__data .store img{
    margin-right: 2rem;
}
.account__container .account__data .license{
    margin-top: 2.5rem;
    display: flex; 
    margin-right: 2rem;   
}
.account__container .account__data a{
    font-size: 2rem;
    font-weight: 700;
    color: var(--default-color);
    text-decoration: underline;
    border-radius: 1rem;
    display: inline-block;
    margin-top: 4rem;
}



.download-app{
    width: 100%;
    height: 11rem;
    background: #eff1ff;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    display: none;
}
.download-app .app-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.download-app .app-box a.gkuda{
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 2rem;
    background: var(--default-color);
    color: #fff;
    border-radius: 1rem;
    margin-top: 2.3rem;
    margin-right: 3rem;
}
.download-app .app-box .kuda-rate{
    display: flex;
    align-items: center;
    justify-content: center;
}
.download-app .app-box .kuda-rate .rate{
    margin-left: 3rem;
}
.download-app .app-box .kuda-rate .rate p{
    line-height: 2.6rem;
}
.download-app .app-box .kuda-rate .rate p:nth-child(1){
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--default-color);
    margin-top: 1.5rem;
}
.download-app .app-box .kuda-rate .rate p:nth-child(2){
    font-size: 1.5rem;
    color: rgb(236, 202, 9);
}

.re-arrange{
    justify-self: center;
}

.review-wrapper{ 
    text-align: center;
    padding: 10rem 4% 15rem  4%;
}
.review-wrapper h1{
    font-size: 5rem;
    font-weight: 900;
    color: var(--default-color);
}


@media (max-width: 1050px){
    header{
        padding: 2.3rem 2%;
    }
    header ul.navbar li:nth-last-child(-n+3){
        display: none;
    }
    header .signIn{
        display: none;
    }
    header .bars{
        display: block;
    }
    header .mobile-section{
        display: inline-block;
    }     
}

@media (max-width: 1070px){
    .home__container .home__data{
        text-align: center;
    }
    .home__container .home__data h2{
        font-size: 4.6rem;
    }
    .home__container .home__data p{
        font-size: 2.2rem;
        line-height: 3rem;
    }
    .home__container .home__data .kuda{
        display: none;
    }
    .home__container .home__data .store{
        display: block;
    }
    .account__container .account__data{
        text-align: center;
    }
    .account__container .account__data h2{
        font-size: 3.5rem;
    }
    .account__container .account__data p{
        font-size: 1.9rem;
        line-height: 3rem;
    }
    .review-wrapper h1{
        font-size: 3.5rem;
    }
}
@media (max-width: 594px){
    .bd-container{ 
        margin-top: 19rem;       
        padding: 0rem 9%;
    }
    .all-container{
        padding: 0rem 9%;
    }
    .service-wrapper{
        margin-top: 6rem;
    }
    .service-wrapper .box{
        display: flex;
        gap: 2rem;
        padding: 2rem 2rem;
        font-size: 1.7rem;
        align-items: center;
    }
    .re-arrange{
        order: 1;
    }
    .service-wrapper .box span{
        width: 5rem;
        height: 3.2rem;
        line-height: 3.2rem;
        text-align: center;
        background: #e0e2f1;
        border-radius: 50%;
        color:#522486;
        font-size: 1.5rem;
    }
    
    .download-app{
        display: block;
    }

  
}


